.cont{
    position: absolute;
    z-index: 10;
    right : 0;
    margin-top: 10px;
    margin-right: 27px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

// gridjs-search-input: focus{
    
// }

.card{
    background-color: var(--theme-color);
}
  