<div class="loginbg"></div>
<form [formGroup]="logindata" (ngSubmit)="onSubmit()" class="p-3">
  <!-- <div class="d-flex" style="text-align: center;">
    <img src="/assets/logo.jpeg" alt="Logo" width="60px" />
    <div style="font-size: 32px; text-align: center; padding-left: 2.5em;">Süd-Chemie
    </div>
  </div> -->
  <!-- <div class="d-flex">
  <img src="/assets/logo.jpeg" alt="Logo" width="60px" />
  <div class="d-flex justify-content-around" style="font-size: 32px;">Süd-Chemie</div>
</div> -->
<div class="position-relative" style="height: 60px;">
  <!-- Left-aligned Logo -->
  <img src="/assets/logo.jpeg" alt="Logo" width="60px" class="position-absolute start-0 top-50 translate-middle-y" />

  <!-- Centered Text -->
  <div class="position-absolute top-50 start-50 translate-middle" style="font-size: 32px;">
    Süd-Chemie
  </div>
</div>

  <div class="image-container">
    <!-- <div>
      <img src="/assets/logo.jpeg" alt="Logo" width="60px" />
    </div> -->
    <h3 style="margin-top:50px">Vision Based Emission Detection System</h3>
  </div>
  <!-- <span class="login-lable fw-bold mb-2">Asset Management System</span> -->

  <!-- The form controls i.e. username and password start here -->
  <div style="margin-top: 65px">
    <label for="Username">Username</label>
    <div class="form-group">
      <!-- <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-fill"></i></span> -->
      <input
        type="text"
        class="form-control custom-focus-color"
        formControlName="Username"
        placeholder="Enter Username"
        id="Username"
      />
      @if(f.Username.errors?.required && submitted){
      <span class="warn"> Username is required</span>
      }
      @if(f.Username.errors?.pattern){
      <span class="warn"> Invalid Username</span>
      }
    </div>

    <!-- @if(f.userName.touched){ -->
    <!-- @if(f.Username.errors?.pattern){
    <span class="warn"> Invalid Username</span>
    } -->
    <!-- } -->

    <div class="mt-2">
      <label for="Password">Password</label>
      <div class="form-group">
        <div class="password">
          <div class="input-group">
            <!-- <span class="input-group-text fw-bold" id="basic-addon1"><i class="bi bi-key"></i></span> -->
            <input
              [type]="fieldTextType ? 'text' : 'password'"
              class="form-control custom-focus-color"
              formControlName="Password"
              placeholder="Enter Password"
              id="Password"
            />
          </div>
          <div class="icon">
            <i
              id="togglePassword"
              class="fa-solid"
              [ngClass]="{
                'fa-eye': fieldTextType,
                'fa-eye-slash': !fieldTextType
              }"
              (click)="toggleFieldTextType()"
            ></i>
          </div>
        </div>

        @if(f.Password.errors?.required && submitted){
        <span class="warn"> Password is required</span>
        } @if(f.Password.errors?.pattern){
        <span class="warn"> Invalid Password</span>
        }
      </div>
    </div>

    <button class="btn btn-pur mt-4 w-100">
      @if(showLoader){
      <i class="fa fa-spinner fa-spin me-2"></i>Loading } @else{
         Login }
    </button>
  </div>

  <div class="footer-login p-1">
    <!-- <div class="d-flex justify-content-between p-2">
      <div class="">
        <span style="vertical-align: middle" class="ms-2">Version: 0.0.0</span>
      </div>
    </div> -->
     <div class="d-flex justify-content-between">
                <div class="">
                    <span>&copy; {{year}} Süd-Chemie</span>
                </div>
                <div style="vertical-align: middle;">Version: {{version}}</div>
 
                <div class="d-flex">
                    <div style="vertical-align: middle;">Powered by</div>
                    <a href="https://garimasystem.com/" target="_blank" rel="noopener noreferrer" style="font-size: 14px; text-decoration: none; color: black;">                        
                        <img src="/assets/GSSPL-Logo.png" alt="GSSPL Logo" title="Garima System Solutions" style="width: 20px; height: auto; vertical-align: middle;">
                    </a>
                </div>
            </div>
  </div>
</form>
