<div class="card p-3 ms-3 me-3">
    <form [formGroup]="routinemaintenanceForm" (ngSubmit)="onSubmit()">
        <div class="row row-cols-1">
            <!-- Maintenance Date Field -->
            <div class="col col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
                <div class="form-group mb-3">
                    <label for="maintainanceDate" class="form-label">Maintenance Date
                        <span class="text-danger">*</span>
                    </label>
                    <input type="date" formControlName="maintainanceDate"
                        class="form-control custom-focus-color" id="maintainanceDate" placeholder="Select Maintenance Date" (ngModelChange)="getDateValidation()">
                        <!-- <input type="datetime-local" step="1" [min]="(todayDate | date:'2015-01-01') + 'T00:00'" [max]="(todayDate | date:'2030-12-31') + 'T23:59'" formControlName="fromDateTime" 
                        class="form-control custom-focus-color" (ngModelChange)="getDateValidation()"/> -->
                    <div *ngIf="submitted && f.maintainanceDate.errors?.required" class="text-danger mt-1">
                        Maintenance Date is required
                    </div>
                </div>
            </div>

            <!-- Start Time Field -->
            <div class="col col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
                <div class="form-group mb-3">
                    <label for="startTime" class="form-label">Start Time
                        <span class="text-danger">*</span>
                    </label>
                    <input type="time" step="1" formControlName="startTime" class="form-control custom-focus-color"
                        id="startTime" placeholder="Select Start Time" (ngModelChange)="getTimeValidation()">
                    <div *ngIf="submitted && f.startTime.errors?.required" class="text-danger mt-1">
                        Start Time is required
                    </div>
                    <!-- <div *ngIf="this.startTime" class="text-danger mt-1">
                        Invalid Date
                    </div> -->
                </div>
            </div>

             <!-- End Time Field -->
             <div class="col col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
                <div class="form-group mb-3">
                    <label for="startTime" class="form-label">End Time
                        <span class="text-danger">*</span>
                    </label>
                    <input type="time" step="1" formControlName="endTime" class="form-control custom-focus-color"
                        id="endTime" placeholder="Select End Time" (ngModelChange)="getTimeValidation()">
                    <div *ngIf="submitted && f.endTime.errors?.required" class="text-danger mt-1">
                        End Time is required
                    </div>
                    <!-- <div *ngIf="this.startTime" class="text-danger mt-1">
                        Invalid Date
                    </div> -->
                    @if(timeValidation){
                        <div class="text-danger">
                          End Time cannot be earlier than Start Time
                        </div>
                        }
                </div>
            </div>

            <!-- Due Date Field -->
            <div class="col col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
                <div class="form-group mb-3">
                    <label for="dueDate" class="form-label">Due Date
                        <span class="text-danger">*</span>
                    </label>
                    <input type="date" formControlName="dueDate"
                        class="form-control custom-focus-color" id="dueDate" placeholder="Select Due Date" (ngModelChange)="getDateValidation()">
                    <div *ngIf="submitted && f.dueDate.errors?.required" class="text-danger mt-1">
                        Due Date is required
                    </div>
                    @if(dueDateValidation){
                        <div class="text-danger">
                            Due Date cannot be earlier than Maintenance Date
                        </div>
                        }
                </div>
            </div>

            <!-- Next Due Date Field -->
            <div class="col col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
                <div class="form-group mb-3">
                    <label for="nextDueDate" class="form-label">Next Due Date
                        <span class="text-danger">*</span>
                    </label>
                    <input type="date" formControlName="nextDueDate"
                        class="form-control custom-focus-color" id="nextDueDate" placeholder="Select Next Due Date" (ngModelChange)="getDateValidation()">
                    <div *ngIf="submitted && f.nextDueDate.errors?.required" class="text-danger mt-1">
                        Next Due Date is required
                    </div>
                    @if(nextDueDateValidation){
                        <div class="text-danger">
                            Next Due Date cannot be earlier than Due Date
                        </div>
                    }
                </div>
            </div>
            
            <!-- Equipment Tag No Field -->
            <div class="col col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
                <div class="form-group mb-3">
                    <label for="equipmentTagNo" class="form-label">Equipment Tag No<span
                            class="text-danger">*</span></label>
                    <input type="text" formControlName="equipmentTagNo" class="form-control custom-focus-color"
                        id="equipmentTagNo" placeholder="Enter Equipment Tag No" maxlength="50" />
                    <div *ngIf="submitted && f.equipmentTagNo.errors?.required" class="text-danger mt-1">
                        Equipment Tag No is required
                    </div>

                </div>
            </div>

            <!-- Equipment Name Field -->
            <div class="col col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
                <div class="form-group mb-3">
                    <label for="equipmentName" class="form-label">Equipment Name<span
                            class="text-danger">*</span></label>
                    <input type="text" formControlName="equipmentName" class="form-control custom-focus-color"
                        id="equipmentName" placeholder="Enter Equipment Name" maxlength="50" />
                    <div *ngIf="submitted && f.equipmentName.errors?.required" class="text-danger mt-1">
                        Equipment Name is required
                    </div>

                </div>
            </div>

            

             <!-- Part No Field -->
             <div class="col col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
                <div class="form-group mb-3">
                    <label for="partNo" class="form-label">Part No<span
                            class="text-danger">*</span></label>
                    <input type="text" formControlName="partNo" class="form-control custom-focus-color"
                        id="partNo" placeholder="Enter Part No" maxlength="50" />
                    <div *ngIf="submitted && f.partNo.errors?.required" class="text-danger mt-1">
                        Part No is required
                    </div>
                </div>
            </div>

             <!-- Part Name Field -->
             <div class="col col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
                <div class="form-group mb-3">
                    <label for="partName" class="form-label">Part Name<span
                            class="text-danger">*</span></label>
                    <input type="text" formControlName="partName" class="form-control custom-focus-color"
                        id="partName" placeholder="Enter Part Name" maxlength="50" />
                    <div *ngIf="submitted && f.partName.errors?.required" class="text-danger mt-1">
                        Part Name is required
                    </div>
                </div>
            </div>

            <!-- Area Field -->
            <div class="col col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
                <div class="form-group mb-3">
                    <label for="area" class="form-label">Area<span
                            class="text-danger">*</span></label>
                    <input type="text" formControlName="area" class="form-control custom-focus-color"
                        id="area" placeholder="Enter Area" maxlength="100" />
                    <div *ngIf="submitted && f.area.errors?.required" class="text-danger mt-1">
                        Area is required
                    </div>
                </div>
            </div>

             <!-- Department Dropdown Field -->
             <div class="col col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
                <div class="form-group mb-3">
                    <label for="department" class="form-label">Department<span
                            class="text-danger">*</span></label>
                    <ng-select [items]="department" bindLabel="name"
                        bindValue="id" placeholder="--Select--"
                        formControlName="departmentId">
                    </ng-select>
                    <div *ngIf="submitted && f.departmentId.errors?.required"
                        class="text-danger mt-1">
                        Department is required
                    </div>
                </div>
            </div>

             <!-- Rectified By Dropdown Field -->
             <div class="col col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
                <div class="form-group mb-3">
                    <label for="rectifiedBy" class="form-label">Rectified By<span
                            class="text-danger">*</span></label>
                    <ng-select [items]="rectifiedBy" bindLabel="name"
                        bindValue="id" placeholder="--Select--"
                        formControlName="rectifiedById">
                    </ng-select>
                    <div *ngIf="submitted && f.rectifiedById.errors?.required"
                        class="text-danger mt-1">
                        Rectified By is required
                    </div>
                </div>
            </div>


             <!-- Section Field -->
             <div class="col col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
                <div class="form-group mb-3">
                    <label for="section" class="form-label">Section<span
                            class="text-danger">*</span></label>
                    <input type="text" formControlName="section" class="form-control custom-focus-color"
                        id="section" placeholder="Enter Section" maxlength="50" />
                    <div *ngIf="submitted && f.section.errors?.required" class="text-danger mt-1">
                        Section is required
                    </div>
                </div>
            </div>

             <!-- Action Taken Field -->
             <div class="col col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
                <div class="form-group mb-3">
                    <label for="actionTaken" class="form-label">Action Taken<span
                            class="text-danger">*</span></label>
                    <input type="text" formControlName="actionTaken" class="form-control custom-focus-color"
                        id="actionTaken" placeholder="Enter Action Taken" maxlength="100" />
                    <div *ngIf="submitted && f.actionTaken.errors?.required" class="text-danger mt-1">
                        Action Taken is required
                    </div>
                </div>
            </div>

              <!-- Remarks Field -->
              <div class="col col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
                <div class="form-group mb-3">
                    <label for="remark" class="form-label">Remarks</label>
                        <textarea formControlName="remark" placeholder="Enter Remarks" class="form-control custom-focus-color" id="remark" maxlength="100"></textarea>
                </div>
            </div>    

        </div>
        <!-- Action Buttons -->
        <div class="mt-2">
            <button type="submit" class="btn btn-pur me-3 custom-focus-color">
                {{this.Id?"Update":"Save"}}
            </button>
            <button type="button" class="btn custom-focus-color btn-pur"
                routerLink="/utilites/routine-maintenance">View List</button>
        </div>
    </form>
</div>