.check-label{
    margin-left: 10px;
}

.parent{
    font-weight: 800;
}

.child {
    margin-left: 20px;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
  }
  
//   th {
//     position: sticky;
//     top: 0;
//     background-color: #3910ae;
//     color: white;
//     font-weight: bold;
//   }
